.contenedor {
  min-width: 80vw;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 60px auto;
}

.chill-1, .chill-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chill-2 {
  width: 50%;
}

h1 {
  font-weight: 600;
  padding: 25px 10px 0 10px;
}

.formulario {
  padding: 40px 20px 40px 20px;
}

form {
  display: flex;
  justify-content: space-between;
  flex-flow: wrap;
  order: 2;
  box-sizing: border-box;
}

.formulario form label {
  font-size: 20px;
  font-weight: 400;
}

.formulario form #nombre, #direccion, #rfc, #telefono, #correo  {
  width: 45%;
  font-size: 1em;
  font-weight: 400;
  border: none;
  border-bottom: solid 2px #d60000;outline: none;
}

.formulario form #nombre:focus, #direccion:focus, #rfc:focus, #telefono:focus, #correo:focus{
  outline: none;
}

.button {
  border: solid 2px #d60000;
  font-size: 1em;
  font-weight: 400;
  outline: none;
  padding: 15px 10px 15px 10px;
  margin-top: 15px;
}

.btn {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

table {
  border-collapse: collapse;
  width: 100%;
  text-align: center;
}

th {
  font-size: 15px;
  padding: 8px;
  background: #ff9595;
  border-top: 4px solid #ff5959;
  border-bottom: 2px solid #ff5959;
  color:#500000;
  margin: 5px 0 5px 0;
}

td {
  padding: 8px;
  background: #ffc1c1;
  border-bottom: 1px solid #fff;
  border-top: 1px solid transparent;
}

.saltolinea{
  margin-bottom: 20px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
